<div>
    <img class="mb-4" src="./images/logoIronHack.png" alt="logo IronHack" width="80px" height="80px">
    <h1 class="display-4">Flashcards</h1>

    <div class="jumbotron">
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Show answer</a>
    </div>

    <button type="button" class="btn btn-secondary btn-lg btn-block">Block level button</button>
    <button type="button" class="btn btn-secondary">Secondary</button>
</div>
