<form class="form form-box" action="/form" method="post">
<h1 id="pag-title"> Know Yourself!</h1>
  <h1 id="sub-title"> Learn Better.</h1>
  <h3>
    <label for="radio-form">You are coding as a  ... ?</label>
  </h3>
  <section class="radio-form">
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="codingStatus" id="inlineRadio1" value="1">
        <label class="form-check-label" for="inlineRadio1">Baby Coder</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="codingStatus" id="inlineRadio2" value="2">
        <label class="form-check-label" for="inlineRadio2">Horse Coder</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="codingStatus" id="inlineRadio3" value="3">
        <label class="form-check-label" for="inlineRadio3">Code Warrior</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="codingStatus" id="inlineRadio4" value="4">
        <label class="form-check-label" for="inlineRadio4">Code Master</label>
      </div>
    </section>
  
  <h3>
    <label for="form-control">Now you need to get better in: </label>
  </h3>
  <select name="getBetter" class="form-control" >
    <option value="HTML" class="selector-text">HTML</option>
    <option value="CSS" class="selector-text">CSS</option>
    <option value="JS" class="selector-text">JS</option>
    <option value="MONGODB" class="selector-text">MONGODB</option>
    <option value="REACT" class="selector-text">REACT</option>
    <option value="ES6" class="selector-text">ES6</option>
    <option value="NODE" class="selector-text">NODE</option>
    <option value="EXPRESS" class="selector-text">EXPRESS</option>
    <option value="AJAX" class="selector-text">AJAX</option>
  </select>
  <div class="form-group">
    <h3>
      <label class="label-text" for="exampleFormControlTextarea1">Good questions make you learn faster. Create a very good one for today and answer it.
      </label>
    </h3>
      <textarea class="form-control" name="questionText" placeholder="Your Question" rows="3"></textarea>
      <textarea class="form-control" name="answerText" placeholder="Your Answer" rows="3"></textarea>
  </div>
  <div id="tool-usage">
    <h3>
      <label for="exampleFormControlTextarea1">Your Tools. Classify how much you use each tool yesterday.
      </label>
    </h3>
    <div class="range_tools">
      <label for="customRange2">HTML</label>
      <input type="range" class="custom-range" name="htmlRange" min="0" max="5" >
    </div>
    <div class="range_tools">
      <label for="customRange2">CSS</label>
      <input type="range" class="custom-range" name="cssRange" min="0" max="5" >
    </div>
    <div class="range_tools">
      <label for="customRange2">JavaScript</label>
      <input type="range" class="custom-range" name="jsRange" min="0" max="5" >
    </div>
    <div class="range_tools">
      <label for="customRange2">Mongo</label>
      <input type="range" class="custom-range" name="mongoRange" min="0" max="5" >
    </div>
    <div class="range_tools">
      <label for="customRange2">React</label>
      <input type="range" class="custom-range" name="reactRange" min="0" max="5" >
    </div>
  <div class="form-group">
    <h3>
      <label for="exampleFormControlTextarea1">Daily Journal.
        Sometimes our thoughts can frighten us. Write them down and make your mind free!.
      </label>
    </h3>
    <textarea class="form-control" name="journal" rows="3"></textarea>
  </div>
  <button id="submit-btn" class="btn btn-primary btn-lg" type="submit">Submit</button>   
</form>