<!-- DASH HEADER -->
<ul class="flex-container">
    <div class="flex-item">
        <ul>
            <li>Infos</li>
            <li id="name-card">Name: {{user.firstName}}</li>
            <li id="name-card">Name: {{user.lastName}}</li>
            <li>xxxx:</li>
            <li>yyyy:</li>
            <li>zzzz:</li>
        </ul>
    </div>
    <div class="flex-item" id="chartTwo">
        <h3> I need to get better in</h3>
         <h1>{{tool}}</h1>
    </div>
    <div class="flex-item" id="chart"></div>
    <div class="flex-item" id="chartTwo">graf1</div>
    <div class="flex-item" id="mychart">graf2</div>
    {{!-- <canvas id="myChart" width="400" height="400"></canvas> --}}

    {{!-- <div class="flex-item">graf2</div> --}}
</ul>

<!-- MAIN BLOCK -->
<div class="main-block">

    <!-- ASIDE 1 -->
    <aside class="aside aside-1">
        <a class="nav-link font-Roboto" >Menu</a>
        <a class="nav-link" href="https://github.com" target="_blank">GitHub</a>
        <a class="nav-link" href="https://www.codewars.com" target="_blank">Codewars</a>
        <a class="nav-link" href="https://docs.google.com/forms/d/e/1FAIpQLSe6GB6wMknsOxWTjcWgQhyd_OL2CgTNSTP37qqS4O9JSqM1Sw/viewform" target="_blank">Weekly Review</a>
        <a class="nav-link" href="http://learn.ironhack.com" target="_blank">Learn IronHack</a>
        <a class="nav-link" href="https://drive.google.com/drive/folders/1st-9ajQDPOByGb5pk-i_w0RvYzZpeDhG" target="_blank">Digital Library</a>
        <div class="btn-group dropright">
            <button type="button" class="btn btn-secondary dropdown-toggle font-Roboto" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Links
            </button>
            <div class="dropdown-menu">
                <h6 class="dropdown-header">links</h6>
                <a class="dropdown-item" href="https://developer.mozilla.org/pt-BR/docs/Web/JavaScript/Guide" target="_blank">JavaScript - MDN</a>
                <a class="dropdown-item" href="https://www.w3schools.com/" target="_blank">w3schools</a>
                <a class="dropdown-item" href="https://stackoverflow.com/" target="_blank">Stack Overflow</a>
                <a class="dropdown-item" href="https://www.infoq.com/br" target="_blank">InfoQ</a>
                <a class="dropdown-item" href="https://cubo.network/eventos" target="_blank">Cubo</a>
                <a class="dropdown-item" href="##" target="_blank">xxxx</a>
            </div>
        </div>
        <a role="button"  href="/form" class="btn btn-primary font-Roboto">Daily Form</a>        
        <a role="button"  href="/timeline" class="btn btn-primary font-Roboto">Timeline</a>        
        <a role="button"  href="/flashcard" class="btn btn-primary font-Roboto">Flashcards</a>        
    </aside>
    
    <!-- ARTICLE -->
    <article class="main">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active font-Roboto" aria-current="page" id="code-phrase">{{phrase}}</li>
            </ol>
        </nav>
        
    </article>
    
    <!-- ASIDE 2 -->
    <aside class="aside aside-2">
        <div id="myDIV" class="header">
            <h5 class="font-Roboto">To Do List</h5>
            <input type="text" id="myInput" placeholder="Title...">
            <span onclick="newElement()" class="addBtn font-Roboto">Add</span>
        </div>
                
        <ul id="myUL">
            <li class="list-class">Read more MDN</li>
            <li class="list-class">Katas</li>
            <li class="list-class">Do labs</li>
            <li class="list-class">More water, less coffee</li>
            <li class="list-class">Hoisting? What?</li>
            <li class="list-class">Organize notes</li>
        </ul>
    </aside>    
</div>



