<div class="text-center body-signup">
    <form class="form-signin box-signin">
        <img class="mb-4" src="./images/logoIronHack.png" alt="logo IronHack" width="80px" height="80px">

        <h1 class="h3 mb-3 font-weight-normal">Sign up</h1>
    
        <div class="inputs-sign">
            <label for="inputName" class="sr-only">First Name</label>
            <input type="text" id="inputFirstName" class="form-control" placeholder="First Name" required autofocus>
        </div>
    
        <div class="inputs-sign">
            <label for="inputName" class="sr-only">Last Name</label>
            <input type="text" id="inputLastName" class="form-control" placeholder="Last Name" required autofocus>
        </div>
        
        <div class="inputs-sign">
            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        </div>    
        
        <div class="inputs-sign">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        </div>               
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>             
    </form>
</div>
