{{#if message}}
  <div class="error-message">{{ message }}</div>
{{/if}}
<br><br>

<div class="text-center body-signup">
    <form class="form-signin box-signin" action="/signup" method="POST" id="form-container">
        <img class="mb-4" src="./images/logoIronHack.png" alt="logo IronHack" width="80px" height="80px">

        <h1 class="h3 mb-3 font-weight-normal">Sign up</h1>
    
        <div class="inputs-sign">
            <label for="inputFirstName" class="sr-only">First Name</label>
            <input type="text" name="firstName" id="inputFirstName" class="form-control" placeholder="First Name" required autofocus>
        </div>
    
        <div class="inputs-sign">
            <label for="inputLastName" class="sr-only">Last Name</label>
            <input type="text" name="lastName" id="inputLastName" class="form-control" placeholder="Last Name" required autofocus>
        </div>
        
        <div class="inputs-sign">
            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        </div>    
        
        <div class="inputs-sign">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>             
    </form>
</div>


{{!-- <!-- views/auth/signup.hbs -->
<h2>Signup</h2>

<form action="/signup" method="POST" id="form-container">
  <label for="username">Username</label>
  <input id="username" type="text" name="username" placeholder="JonSnow">
  <br><br>
  <label for="password">Password</label>
  <input id="password" type="password" name="password" placeholder="Your password"> --}}

{{!--  

  <button>Create account</button>

  <p class="account-message">
    Do you already have an account?
    <a href="/login">Login</a>
  </p>
</form> --}} 