<div class="body-journal">
  <h1 id="pag-title"> Your Journal</h1>
  <h1 id="sub-title"> A New Journey</h1>
</div>
  {{#each form }}
<div class="card journal-card coding-journal">
  {{> journalDay this }}
</div>
  {{/each}}  


    
