  <div class="body-timeline">
  <div class="container container-timeline">
    <h1 class="project-name title-journal">Iron Journal</h1>
    <div id="timeline">
      

      <div class="timeline-item">
        <!-- ICON -->
        <div class="timeline-icon">
        </div>
        <div class="timeline-content">
          <h2>Day 2</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, facilis quo. Maiores magnam modi ab libero praesentium blanditiis consequatur aspernatur accusantium maxime molestiae sunt ipsa.
          </p>
          <button type="button" class="btn btn-primary">Primary</button>
        </div>
      </div>
      
      <div class="timeline-item">
        <!-- ICON -->
        <div class="timeline-icon">
        </div>
        <div class="timeline-content right">
          <h2>Day 1</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, facilis quo. Maiores magnam modi ab libero praesentium blanditiis consequatur aspernatur accusantium maxime molestiae sunt ipsa.
          </p>
          <button type="button" class="btn btn-primary">Primary</button>
        </div>
      </div>
    </div>
  </div>
</div>


