<div class="body-timeline">
  <div class="container container-timeline">
    <h1 class="project-name title-journal">Iron Journal</h1>
    <div id="timeline">
    {{#each form }}
      <div class="timeline-item">
        <div class="timeline-icon"></div>
          <div  class="timeline-content">
            {{> cardTimeline this }}
          </div>
      </div>
    {{/each }}
    <div>
  </div>
</div>


